@import './style.css';
* {
    margin: 0;
    padding: 0;
  }
  .main {
    width: 50vw;
    height: 150vh;
    margin: auto;
    color: black;
    font-weight: bold;
    background: lightblue;
    min-width: 400px;
    max-width: 500px;
    /* Responsiveness  */
  }
  /* position => 1. absolute 2. relative 3. fixed 4. sticky  */
  .sub-main {
      position: static;
      width: 100px;
      height: 100px;
      background: var(--background-color-main);
      left: 0px;
  }